doctype
html(ng-app='phonecatApp', lang='en')
    head
        meta(charset='utf8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        base(href='/')
        title Google Phone Gallery
        link(rel='stylesheet', href='css/app.css')
        link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='css/animations.css')
        script(data-main="js/main", src="lib/requirejs/require.js")
    body
        block body