doctype
html(ng-app='phonecatApp', lang='en')
    head
        meta(charset='utf8')
        base(href='/')
        title Google Phone Gallery
        link(rel='stylesheet', href='css/app.css')
        link(rel='stylesheet', href='lib/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='css/animations.css')
        script(data-main="js/main", src="lib/requirejs/require.js")
    body
        block body